:root {
  --clr-sunset-orange-50: #fff1f1;
  --clr-sunset-orange-100: #ffe0e0;
  --clr-sunset-orange-200: #ffc6c6;
  --clr-sunset-orange-300: #ff9f9f;
  --clr-sunset-orange-400: #ff6767;
  --clr-sunset-orange-500: #fc4747;
  --clr-sunset-orange-600: #ea1818;
  --clr-sunset-orange-700: #c51010;
  --clr-sunset-orange-800: #a21212;
  --clr-sunset-orange-900: #861616;
  --clr-vulcan-50: #f5f6fa;
  --clr-vulcan-100: #e9ecf5;
  --clr-vulcan-200: #cfd6e8;
  --clr-vulcan-300: #a4b4d5;
  --clr-vulcan-400: #748dbc;
  --clr-vulcan-500: #526ea5;
  --clr-vulcan-600: #3f568a;
  --clr-vulcan-700: #344670;
  --clr-vulcan-800: #2e3c5e;
  --clr-vulcan-900: #10141e;
  --clr-waikawa-gray-50: #f6f7f9;
  --clr-waikawa-gray-100: #ebedf3;
  --clr-waikawa-gray-200: #d3d7e4;
  --clr-waikawa-gray-300: #acb5cd;
  --clr-waikawa-gray-400: #7f8db1;
  --clr-waikawa-gray-500: #5a698f;
  --clr-waikawa-gray-600: #4b587e;
  --clr-waikawa-gray-700: #3e4866;
  --clr-waikawa-gray-800: #363e56;
  --clr-waikawa-gray-900: #30354a;
  --clr-mirage-50: #f4f6fb;
  --clr-mirage-100: #e8ebf6;
  --clr-mirage-200: #ccd5eb;
  --clr-mirage-300: #a0b3d9;
  --clr-mirage-400: #6d8bc3;
  --clr-mirage-500: #4a6bad;
  --clr-mirage-600: #385491;
  --clr-mirage-700: #2e4376;
  --clr-mirage-800: #2a3b62;
  --clr-mirage-900: #161d2f;
  --clr-white: #fff;
  --clr-black: #000;
}
