:root {
  --clr-sunset-orange-50: #fff1f1;
  --clr-sunset-orange-100: #ffe0e0;
  --clr-sunset-orange-200: #ffc6c6;
  --clr-sunset-orange-300: #ff9f9f;
  --clr-sunset-orange-400: #ff6767;
  --clr-sunset-orange-500: #fc4747;
  --clr-sunset-orange-600: #ea1818;
  --clr-sunset-orange-700: #c51010;
  --clr-sunset-orange-800: #a21212;
  --clr-sunset-orange-900: #861616;
  --clr-vulcan-50: #f5f6fa;
  --clr-vulcan-100: #e9ecf5;
  --clr-vulcan-200: #cfd6e8;
  --clr-vulcan-300: #a4b4d5;
  --clr-vulcan-400: #748dbc;
  --clr-vulcan-500: #526ea5;
  --clr-vulcan-600: #3f568a;
  --clr-vulcan-700: #344670;
  --clr-vulcan-800: #2e3c5e;
  --clr-vulcan-900: #10141e;
  --clr-waikawa-gray-50: #f6f7f9;
  --clr-waikawa-gray-100: #ebedf3;
  --clr-waikawa-gray-200: #d3d7e4;
  --clr-waikawa-gray-300: #acb5cd;
  --clr-waikawa-gray-400: #7f8db1;
  --clr-waikawa-gray-500: #5a698f;
  --clr-waikawa-gray-600: #4b587e;
  --clr-waikawa-gray-700: #3e4866;
  --clr-waikawa-gray-800: #363e56;
  --clr-waikawa-gray-900: #30354a;
  --clr-mirage-50: #f4f6fb;
  --clr-mirage-100: #e8ebf6;
  --clr-mirage-200: #ccd5eb;
  --clr-mirage-300: #a0b3d9;
  --clr-mirage-400: #6d8bc3;
  --clr-mirage-500: #4a6bad;
  --clr-mirage-600: #385491;
  --clr-mirage-700: #2e4376;
  --clr-mirage-800: #2a3b62;
  --clr-mirage-900: #161d2f;
  --clr-white: #fff;
  --clr-black: #000;
}

*, *::before, *::after {
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html, body {
  min-height: 100%;
  height: 100%;
  border: 1px solid green;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.auth-card {
  max-width: 25rem;
  width: 100%;
  max-height: 26.125rem;
  height: 100%;
  padding: 2rem;
  background-color: var(--clr-mirage-900);
  border-radius: 1.25rem;
}
.auth-card__title {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.5px;
  margin-bottom: 2.5rem;
}
.auth-card form {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}
.auth-card__input-group {
  display: flex;
  flex-flow: column;
  position: relative;
}
.auth-card__input-group label {
  position: absolute;
  left: 1rem;
  color: var(--clr-white);
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.1875rem;
  letter-spacing: 0;
}
.auth-card__input-group input {
  padding: 0.53125rem 1rem;
  color: var(--clr-white);
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.1875rem;
  letter-spacing: 0;
  background: none;
  border: none;
  border-bottom: 1px solid var(--clr-waikawa-gray-500);
  outline: none;
}
.auth-card__input-group input:focus {
  border-color: var(--clr-white);
}
.auth-card__input-group input:focus + label {
  color: red;
}
.auth-card__input-group input.error {
  border-color: var(--clr-sunset-orange-500);
}
.auth-card__button--primary {
  color: var(--clr-white);
  border-radius: 0.375rem;
  background-color: var(--clr-sunset-orange-500);
  margin-top: 1rem;
  border: 1px solid var(--clr-sunset-orange-500);
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.1875rem;
  letter-spacing: 0;
  padding: 0.84375rem 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.auth-card__button--primary:hover {
  color: var(--clr-vulcan-900);
  background-color: var(--clr-white);
  border-color: var(--clr-white);
}
.auth-card .action {
  color: var(--clr-white);
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.1875rem;
  letter-spacing: 0;
  margin: 0 auto;
}
.auth-card .action a {
  color: var(--clr-sunset-orange-500);
  text-decoration: none;
  margin-left: 0.5625rem;
  display: inline-block;
}

.sidebar {
  max-width: 6rem;
  width: 100%;
  background-color: var(--clr-mirage-900);
  border-radius: 1.25rem;
  height: 100%;
  max-height: 60rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4.6875rem;
  padding: 2rem 0;
}
.sidebar__menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2.5rem;
}
.sidebar__item {
  cursor: pointer;
}
.sidebar__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  margin-top: auto;
  cursor: pointer;
}

.search {
  width: 100%;
  display: flex;
  gap: 1.75rem;
}
.search__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.search__input {
  border: none;
  color: var(--clr-white);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.875rem;
  letter-spacing: 0;
  padding-bottom: 0.875rem;
  background: none;
  outline: none;
  width: 100%;
}
.search__input:focus {
  border-bottom: 1px solid var(--clr-waikawa-gray-500);
}

.trending {
  color: var(--clr-white);
}
.trending__heading {
  font-size: 2rem;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.5px;
  margin-bottom: 1.5rem;
}
.trending__item {
  cursor: pointer;
  max-width: 29.375rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.trending__overlay {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.1s ease-in;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.trending__overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.trending__overlay:hover .trending__play {
  display: flex;
}
.trending__bookmark {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.trending__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: 0.3s ease-in;
  gap: 1.25rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5625rem 1.5rem 0.5625rem 0.5625rem;
  border-radius: 3.125rem;
}
.trending__meta {
  margin-top: auto;
}
.trending__meta div:first-child {
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.1875rem;
  letter-spacing: 0;
  color: var(--clr-white);
}
.trending__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--clr-vulcan-900);
  height: 100%;
}

#auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 85.75rem;
  height: 100%;
}

.sidebar-layout {
  display: flex;
  gap: 2.375rem;
  margin: 0 auto;
  padding: 2rem;
}

main {
  width: 100%;
}
