@use "base" as *;
@use "components";
body{
    font-family: 'Outfit', sans-serif;;
    background-color: var(--clr-vulcan-900);
}

#auth-layout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-layout{
    display: flex;
    gap: pxToRem(38);
    max-width: pxToRem(1372);
    margin: pxToRem(32) auto;
    height: 100%;
    border: 1px solid red;
}

