@use "base" as *;
@use "components";
body{
    font-family: 'Outfit', sans-serif;;
    background-color: var(--clr-vulcan-900);
    height: 100%;
    overflow-x: hidden;
}

#auth-layout{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    max-width: pxToRem(1372);
    height: 100%;
}

.sidebar-layout{
    display: flex;
    gap: pxToRem(38);
    margin: 0 auto;
    padding: pxToRem(32);
}

main{
    width: 100%;
}

.heading-lg{
    @include heading-lg;
}

.text-white{
    color: var(--clr-white);
}

.mb-32{
    margin-bottom: pxToRem(32);
}

.body-sm{
    @include body-sm;
}

.heading-xs{
    @include heading-xs;
}

.mb-5{
    margin-bottom: pxToRem(5);
}

