@use "../base" as *;

.search{
    display: flex;
    width: 100%;
    margin-bottom: pxToRem(32);
    gap: pxToRem(28);
    &__icon{
        width: pxToRem(24);
        height: pxToRem(24);
    }

    &__input{
        border: none;
        color: var(--clr-white);
        @include heading-md;
        padding-bottom: pxToRem(14);
        background: none;
        outline: none;
        border-bottom: 1px solid var(--clr-vulcan-900);
        width: 100%;
        &:focus{
            border-color: var(--clr-waikawa-gray-500);
        }
    }
}
