@use "../base" as *;

.trending{
    color: var(--clr-white);
    margin-bottom: pxToRem(40);
    overflow-x: hidden;
    &__carousel{
        display: flex;
        gap: pxToRem(40);
    }

    &__heading{
        @include heading-lg;
        margin-bottom: pxToRem(24);
    }
}

